<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Diplomacy Explorer 2 - alpha</title>

        <!-- Core CSS -->
        <link href="/{{BASE_URL}}/static/lib/jquery-ui-1.11.0.slider/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="/{{BASE_URL}}/static/img/usdos-logo-seal.png" rel="shortcut icon">
		<link href="/{{BASE_URL}}/static/lib/bootstrap-3.1.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/{{BASE_URL}}/static/lib/Leaflet-0.7.2/dist/leaflet.css" />
		<link href="/{{BASE_URL}}/static/lib/bootstrap-tour/build/css/bootstrap-tour.min.css" rel="stylesheet">
		<link href="/{{BASE_URL}}/static/lib/Leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet">
		<link href="/{{BASE_URL}}/static/lib/Leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet">
		<link rel="stylesheet" href="/{{BASE_URL}}/static/css/main.css" />

	
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>

		<div id="global-header"><ul><li><a id="skip-navigation" href="http://diplomacy.state.gov/discoverdiplomacy/explorer/#main-content">Skip navigation</a></li><li class="last"><a href="http://diplomacy.state.gov/">Visit diplomacy.state.gov</a></li><li class="first"><a href="http://www.state.gov/">Visit state.gov</a></li></ul></div>

<div id="header"><div id="inner-header"><ul id="navigation"><li id="nav-discover-diplomacy"><a title="Discover Diplomacy" href="http://diplomacy.state.gov/discoverdiplomacy/">Discover Diplomacy</a></li><li id="nav-diplomacy101"><a title="Diplomacy 101" href="http://diplomacy.state.gov/discoverdiplomacy/diplomacy101/">Diplomacy 101</a></li><li id="nav-explorer"><a title="Explorer" href="./explorer_files/explorer.htm" class="here">Explorer</a></li></ul>
	<form id="header-search-form" name="gs" action="http://search.state.gov/search" method="get" class="search"><fieldset><label id="header-search-label" for="header-search-box">Search Site</label><input value="Search Site" id="header-search-box" name="q"><input value="state_diplomacy_en" name="site" type="hidden"><input value="state_diplomacy_en" name="client" type="hidden"><input value="xml_no_dtd" name="output" type="hidden"><input value="state_diplomacy_en" name="proxystylesheet" type="hidden"><input value="3" name="entqr" type="hidden"><input value="lang_en" name="lr" type="hidden"><input value="utf8" name="oe" type="hidden"><input value="utf8" name="ie" type="hidden"><input value="date:D:S:d1" name="sort" type="hidden"><input value="*" name="getfields" type="hidden"><input value="Go" type="submit" id="header-search-btn" class=""></fieldset></form>
</div></div>


			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						{{ top_menu|safe }}
					</ul>
				</div><!--/.navbar-collapse -->
			</div>

			<div class="container" id="mainContainer">
				<div class="panel panel-default" style="height:100%;">
					<div class="row" id = "rowId" style="height:100%;width:100%">
						<div class="col-lg-3 col-md-3 col-sm-3" id="descPane">
							<div class='panel-body panel-collapse collapse in' id='collapseSide' style='padding: 0px !important;'>
								<div class="btn-group">
								  <a class="btn btn-default" id="mapKeybutton">Map Control</a>
								  <a class="btn btn-default btnon" id="tourKeybutton">Get Started</a>
								</div>

								<div id='mapKey' class='sideBarTabContent mapKeybutton'>
									<p>You are currently looking at the location of diplomactic posts around the world.  The Department of State splits the world into five regions highlighted by the colors.</p>
									<p>Get started exploring the data by clicking on one of the themes (Securing Peace, Respecting Rights, Saving Lives, Protecting Resources, or Promoting Prosperity) above.</p>
								</div>
								<div id='tourKey' class='sideBarTabContent tourKeybutton currenttab'>
									<h2>Welcome</h2>
									<p>Explore diplomacy using maps.  To get started click on a theme named Securing Peace, Respecting Rights, Saving Lives, Protecting Resources, or Promoting Prosperity.  These are the five main themes of diplomacy.  Each theme has a list of issues and each issue allows you to explore data related to that issue. <p>
									<p>In some cases, there will be points <img src="/{{BASE_URL}}/static/img/marker-icon.png" /> that will highlight stories related to the particular dataset.</p>
									<p>You can still take a quick tour or view the first infographic below.</p> 
									<p>
									<button id="viewTour" type="submit" class="btn btn-default viewTour">View the tour</button>
									<button id="viewSplash" type="submit" class="btn btn-default">See infographic</button>
								</div>
								<div class="buffer_bottom">

								</div>
							</div>
						</div>
						<div class="expanded" id="mapPane">
							<div id="map"></div>

						</div>
					</div>
				</div>
			</div>

			<div class='timeSlider timeinfobox closed'>
				<div class='timeinfobox'>
					<p>

					  <label for="slidervalue">Year: </label>
					  <input type="text" id="slidervalue" readonly style="border:0; color:#428bca; font-weight:bold;">
					  <div id='slider'></div>
					  <br/>
					<p class="small-instructions">
					  <small>Slide the bar to see the values of the year on the map</small>
					 </p>
					</p>
				</div>
			</div>

			<div id="loading">
				<div id="loader" style="display:block;">
					<div class="loading-indicator">
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-info" style="width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="holdscreen">
				</div>
			</div>


			<div class="modal" id="splashScreen">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<!--<h4 class="modal-title">Diplomacy Explorer</h4>-->
						</div>
						<div class="modal-body">
							<img src='static/img/DDAlmostFinalPReview_small.jpg'/>
							<br/>
							<br/>
							<div id="loading_splash">
								<div id="loader_splash" style="display:block;">
									<div class="loading-indicator">
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-info" style="width: 100%"></div>
										</div>
									</div>
								</div>
							</div>
							<div id="splash_buttons" style="display:none;">
								<button id="viewTour" type="submit" class="btn btn-default viewTour">View the tour</button>
								<button id="noTour" type="submit" class="btn btn-default">Skip tour</button>
								<br/>
									<a id="noSplash" class="noSplashLink"> Don't show this screen on this computer</a>
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal fade" id="shareModal">
				<div class="modal-dialog">
					<div class="modal-content" id="shareContent">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Share</h4>
						</div>
						<div class="modal-body">
							<div class="tab-pane fade active in" id="shareMethods">
								<div class="panel panel-primary">
									<ul class="list-group">
										
										<li class="list-group-item">
											<label for="hashURLText">Copy the text below to return to the same map view in the future</label>
											<input type="text" class="form-control" name="hashURLText" id="hashURLText" autofocus="" placeholder="Ctrl-C, Enter to Copy"> 
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- DELETE this -->
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="shareInfoBox">
				<img id="openShare" src="/{{BASE_URL}}/static/img/share.png">
				<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdipex.edip-maps.net%3A8080%2Fdiplomacyexplorer%2F%232%2F8.8%2F10.0&t=" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL),'','width=350, height=100'); return false;"><img src="/{{BASE_URL}}/static/img/Facebook.png"></a>
				
				<a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fdipex.edip-maps.net%3A8080%2Fdiplomacyexplorer%2F&text=:%20http%3A%2F%2Fdipex.edip-maps.net%3A8080%2Fdiplomacyexplorer%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/{{BASE_URL}}/static/img/Twitter.png"></a>
				
			</div>


						<!-- Tour Section
						<span id="removeSplashCookie" style="color:red;cursor:pointer;">See Splash Screen again - secret</span><br/>
						<span id="viewTour" style='color:red;cursor:pointer;'>View the tour - secret</span>
						-->



			<div id="fb-root">
			<div id="footer"><div id="footer-top"><div id="footer-left"><div id="footer-left-bg"></div></div><div id="footer-center"><div id="footer-title">References</div></div><div id="footer-right"><div id="footer-right-bg"></div></div></div><div id="footer-body"><ul id="footer-menu"><li><a href="http://diplomacy.state.gov/discoverdiplomacy/references/169792.htm">Diplomatic Dictionary</a></li><li><a href="http://diplomacy.state.gov/discoverdiplomacy/references/169793.htm">Educator Resources</a></li><li class="last"><a href="http://diplomacy.state.gov/discoverdiplomacy/references/169794.htm">You Are a Diplomat</a></li></ul><ul id="footer-smallprint"><li><a href="http://www.state.gov/misc/152386.htm">Disclaimer</a></li><li><a href="http://www.state.gov/misc/415.htm">Privacy Policy</a></li><li><a href="http://diplomacy.state.gov/discoverdiplomacy/about/169789.htm">About</a></li><li class="last" id="footer-credit">
			        Discover Diplomacy is a product of the
			        <a href="http://diplomacy.state.gov/">U.S. Diplomacy Center</a> at the
			        <a href="http://www.state.gov/">U.S. Department of State</a>.
			      </li></ul></div></div>
			</div>

			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

			<script src="/{{BASE_URL}}/static/lib/modernizr/modernizr.custom.95810.js"></script>
			<script src="/{{BASE_URL}}/static/js/modernizr.js"></script>
			<script src="/{{BASE_URL}}/static/lib/jquery/jquery-1.11.0.min.js"></script>
			<script src="/{{BASE_URL}}/static/lib/jquery-ui-1.11.0.slider/jquery-ui.min.js"></script>
			<script src="/{{BASE_URL}}/static/lib/bootstrap-3.1.1/dist/js/bootstrap.min.js"></script>
			<script src="/{{BASE_URL}}/static/lib/jquery-cookie-master/jquery.cookie.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/lib/Readmore/readmore.min.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/js/host.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/lib/Leaflet-0.7.2/dist/leaflet.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/lib/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/lib/leaflet-hash/leaflet-hash.js"></script>
			<script type="text/javascript">
			
			$('a').click( function() { document.getElementById('twit').setAttribute('href', "https://twitter.com/intent/tweet?text=Discover%20Diplomacy&url="+window.location); } );

			$( window ).resize(function() {
				if ($(this).width() > 767){
			  		$(".sideBarTabContent ").height($(this).height() - 235);
			  	}
			});
			//do the first time
			$(window).trigger("resize");
			
			var donecheck = {"external":[],"internal":false};

			var iconCreateCluster = 	function (cluster) {
					var childCount = cluster.getChildCount();
					var size=0;
					var c = ' marker-cluster-';
					if (childCount < 10) {
						c += 'small';
						size=23;
					} else if (childCount < 80) {
						c += 'medium';
						size=27;
					} else {
						c += 'large';
						size=35;
					}

					return new L.DivIcon({ html: '<div style="width:' + size + 'px;height:' + size + 'px;"><span>' + childCount + '</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(size, size) });
				}

			var ignite = function(data){
				keysets = {{ jsonObj|safe }};
				

				$.each(keysets, function(mainkey, mainobj){
					$.each(mainobj['layers'], function(subkey, subobj){
						//Create the function
						if (subobj['jsonStyle']){
							subobj['jsonLayer'] = createLayer(data, subobj['jsonStyle']);
							if (subobj['jsonLayer'].state){
								donecheck['external'].push(true);
								subobj['jsonLayer'].done(function(data){
									var markerClusterGrp = new L.markerClusterGroup({ spiderfyOnMaxZoom: true, showCoverageOnHover: false, zoomToBoundsOnClick: true, iconCreateFunction: iconCreateCluster });
									markerClusterGrp.addLayer(data);
									subobj['jsonLayer'] = markerClusterGrp;
									donecheck['external'].pop();
									allfinished(donecheck);
								});
							}
						}
					});
				});
				donecheck['internal'] = true;
				allfinished(donecheck);

			}
			var allfinished = function(){
				if (donecheck['internal'] == true && donecheck['external'].length == 0){
					//thjis needs to be ehre to enesure that JSON syncs after AJAx
					hash = L.hash(map);
					//if there is a hash make sure that the map info button is pressed first
					if (hash.lastHash && hash.lastHash.split("&").length > 1){
						$("#mapKeybutton").trigger("click");
					}
					hash.on("update", function(hasharg){$('#copytext').html($(location).attr('href'))});
					return;
				}
				return;
			}
			</script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/js/index.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/js/admin.js"></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/lib/bootstrap-tour/build/js/bootstrap-tour.min.js" ></script>
			<script type="text/javascript" src="/{{BASE_URL}}/static/js/webtour.js" ></script>
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				siteParams();
				ga('create', gaID, host);
				ga('send', 'pageview');
			</script>
		
    </body>
</html>