#columns #main .place-details .embassy-goals h3 {
  margin-left: 0px;
}
#columns #main .place-details .embassy-links h3 {
  margin-left: 0px;
}
/*
#header-search-box, #header-search-btn {display:none;}
*/
