  html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #mapPane{
    height:100%;
  }
  /*
  body {
    padding-top: 38px;
  }
  */

#mainContainer, #map {
  height: 100%;
  width:100%;
  overflow: hidden;
  padding-right:0px;
  padding-left:0px;
}

#mainContainer{
 margin-bottom:-150px;
}


  .navbar-collapse.in {
    overflow-y: hidden;
  }



input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#loading{
  
  width:100%;
  height:100%;
  z-index: 20001;
  top:0px;
  left:0px;
  position:absolute;
  
}

#loading #loader {
  position:absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20002;

}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  letter-spacing: 1px;
}

.navbar{
  /*left:0px;
  right:0px;*/
  z-index:1002;
  position:relative;
  margin-bottom:0px;
}

ul.navbar-nav{
  margin-left: auto;
margin-right: auto;
width: 850px;
position: relative;
float:none;
}

.navbar-inverse {
	background-color: rgb(25,95,164);
}


.expanded{
  margin-left:25%;
  width: 75%;
}

#descPane{
  width:25%;
  height:100%;
  padding-right:0px;
  padding-left:0px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse{
  background-color:white;
  border-color:white;
  min-height:25px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.navbar-inverse .navbar-nav>li>a{
  color:#ababab;
  border-top: 3px solid black;

}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
  background-color: rgb(0, 76, 153);
  color:white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
  color: rgb(0, 76, 153);
}


.navbar-inverse .navbar-nav>li>a#security{
  border-color: rgb(219, 176, 208);

}

.navbar-inverse .navbar-nav>li>a#business{
  border-color: rgb(249, 243, 155);

}

.navbar-inverse .navbar-nav>li>a#environment{
  border-color: rgb(228, 238, 195);
}

.navbar-inverse .navbar-nav>li>a#rights{
  border-color: rgb(215, 239, 247);

}

.navbar-inverse .navbar-nav>li>a#lives{
  border-color: rgb(252, 230, 231);
}



.navbar-inverse .navbar-nav>li>a#security:hover{
  border-color: #8e608b;

}

.navbar-inverse .navbar-nav>li>a#business:hover{
  border-color: #c8551a;

}

.navbar-inverse .navbar-nav>li>a#environment:hover{
  border-color: #668831;
}

.navbar-inverse .navbar-nav>li>a#rights:hover{
  border-color: #2f7d89;

}

.navbar-inverse .navbar-nav>li>a#lives:hover{
  border-color: #be3e48;
}





.dropdown-menu {
	padding: 10px;
}

.panel-heading{
  background-color:#f2f2ee;
}

.panel-heading:hover{
  background-color:#428bca;
  color:white;
}

.panel-heading a{
  color:black;
}


.panel-body p a{
  font-family: "DroidSansBold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ababab;
  text-decoration: none;
  background: url('../img/bullets.png') -78px -320px no-repeat;
  padding-left: 14px;
  margin-left: 6px;
  }

#viewdetails {
	overflow-y:scroll;
	height: 95px !important;
}
#viewComments {
	overflow-y:scroll;
	height: 95px !important;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-bottom: 10px !important;
	margin-left: 50px !important;
  cursor:pointer;
}

.info:hover{
  background: rgba(140,140,140,.8);

}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
	padding: 8px 8px;
	font: 14px/18px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}


.timeSlider {
  position: absolute;
right: 10px;
bottom: 130px;
box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.timeinfobox{
  background-position: 50% 50%;
  display: block;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: auto;
  text-align: center;
  background-color: #FFFFFF;
  padding:10px;
}

.shareInfoBox{
  position: absolute;
right: 10px;
bottom: 80px;
z-index:50000;
}

a:hover, a:focus{
  text-decoration: none;
}



.navbar-nav > li > .dropdown-menu{
  width:400px;
}

a.mainKey{
  cursor:pointer;
}

a.mainKey h4{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:5px;
  padding-bottom:10px;
}

div.holdscreen{
position: absolute;
z-index: 20031;
height: 100%;
width: 100%;
background-color: grey;
opacity:.5;
top: 0;
}

div.headwrapper{
  padding: 10px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color:rgba(245, 132, 31, 0.62);
  
}

#splashScreen{
  overflow:hidden;
}

.mapKeybutton .security{
  background-color: rgba(219, 176, 208, 0.59);

}

.mapKeybutton .business{
  background-color: rgba(249, 243, 155, 0.49);

}

.mapKeybutton .environment{
  background-color: rgba(228, 238, 195, 0.8);
}

.mapKeybutton .rights{
  background-color: rgba(215, 239, 247, 0.54);

}

.mapKeybutton .lives{
  background-color: rgba(252, 230, 231, 0.51);

}




#footer {

  z-index: 70;
position: fixed;
bottom: 0px;
left: 0px;
width: 100%;
}
#footer #footer-top {
  height: 33px;
}
#footer #footer-top #footer-left {
  float: left;
  height: 33px;
  width: 50%;
  margin-right: -512px;
}
#footer #footer-top #footer-left #footer-left-bg {
  margin-top: 16px;
  background: #424242;
  height: 17px;
  margin-right: 512px;
}
#footer #footer-top #footer-right {
  width: 50%;
  position: absolute;
  right: 0;
}
#footer #footer-top #footer-right #footer-right-bg {
  margin-top: 16px;
  height: 17px;
  background: #424242;
  margin-left: 511px;
}
#footer #footer-top #footer-center {
  position: relative;
  height: 33px;
  width: 1024px;
  float: left;
  text-align: center;
  background: url('../img/footer_top_noprofile.png?1317230572') center;
}
#footer #footer-top #footer-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  background-position: -3px -625px;
  width: 66px;
  height: 26px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -33px;
}
#footer #footer-body {
  background: #424242;
  height: 62px;
  width: 100%;
  min-width: 1024px;
}
#footer #footer-body #footer-menu {
  font-family: "DroidSansRegular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  height: 18px;
  line-height: 18px;
  margin: 0 auto;
  padding: 12px 0 0 0;
  text-align: center;
}
#footer #footer-body #footer-menu a {
  color: white;
  text-decoration: none;
}
#footer #footer-body #footer-menu a:hover, #footer #footer-body #footer-menu a.here {
  color: #ababab;
}
#footer #footer-body #footer-menu li {
  display: inline;
  padding-right: 32px;
  margin-right: 32px;
  border-right: 1px solid white;
}
#footer #footer-body #footer-menu li.last {
  padding: 0;
  margin: 0;
  border: none;
}
#footer #footer-body #footer-smallprint {
  font-family: "DroidSansRegular", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #ababab;
  height: 17px;
  line-height: 17px;
  margin: 0 auto;
  padding: 10px 40px 0 40px;
  width: 944px;
  text-align: center;
}
#footer #footer-body #footer-smallprint a {
  color: #ababab;
  text-decoration: none;
}
#footer #footer-body #footer-smallprint a:hover, #footer #footer-body #footer-smallprint a.here {
  color: white;
}
#footer #footer-body #footer-smallprint li {
  height: 12px;
  line-height: 12px;
  display: inline-block;
  padding-right: 8px;
  margin-right: 6px;
  border-right: 1px solid #ababab;
}
#footer #footer-body #footer-smallprint li.last {
  padding: 0;
  margin: 0;
  border: none;
}
#footer #footer-body #footer-smallprint #footer-credit {
  background: url('../img/sprites.png') no-repeat -8px -600px;
  height: 17px;
  line-height: 17px;
  padding-left: 21px;
}


#mapKey{
  padding-bottom:200px;
}


#global-header {
  position: relative;
  z-index: 70;
  background: #2eace3;
  width: 100%;
  height: 16px;
}
#global-header ul {
  font-family: "DroidSansBold", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  line-height: 12px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-left: 40px;
  padding-right: 40px;
  width: 944px;
  margin: 0 auto;
  padding-top: 2px;
}
#global-header ul a {
  color: white;
  text-decoration: none;
}
#global-header ul a:hover {
  color: #dddddd;
}
#global-header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 0;
  padding-right: 0;
}
#global-header ul li:first-child, #global-header ul li.first {
  padding-right: 0;
}
#global-header ul li:last-child {
  padding-left: 0;
}
#global-header ul li.last {
  padding-left: 0;
}
#global-header ul li.first:after {
  font-family: "DroidSansBold", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  content: "|";
}
#global-header ul li.first:after a {
  color: white;
  text-decoration: none;
}
#global-header ul li.first:after a:hover {
  color: #dddddd;
}

a#skip-navigation, a#skip-navigation:hover, a#skip-navigation:visited {
  font-family: "DroidSansBold", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  position: absolute;
  left: -10000px;
  overflow: hidden;
  text-decoration: none;
}
a#skip-navigation a, a#skip-navigation:hover a, a#skip-navigation:visited a {
  color: white;
  text-decoration: none;
}
a#skip-navigation a:hover, a#skip-navigation:hover a:hover, a#skip-navigation:visited a:hover {
  color: #dddddd;
}

a#skip-navigation:focus {
  left: 40px;
}

#header {
  width: 100%;
  position: relative;
  z-index: 70;
  height: 50px;
  background: white;
  border-bottom: 2px solid #CCC;
}




#inner-header {
  position: relative;
  width: 944px;
  padding-top: 16px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

#navigation {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 944px;
  height: 24px;
  display: block;
}
#navigation li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
#navigation li:first-child, #navigation li.first {
  padding-left: 0;
}
#navigation li:last-child {
  padding-right: 0;
}
#navigation li.last {
  padding-right: 0;
}
#navigation li a {
  display: block;
  height: 24px;
}
#navigation #nav-discover-diplomacy a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/navigation.png?1317230572');
  background-repeat: no-repeat;
  background-position: -12px -8px;
  height: 24px;
  width: 305px;
  margin-right: 55px;
}
#navigation #nav-diplomacy101 {
  background: url('../img/navigation.png?1317230572') no-repeat -372px -8px;
  background-position: right middle;
  width: 185px;
}
#navigation #nav-diplomacy101 a {
  background: white;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/navigation.png?1317230572');
  background-repeat: no-repeat;
  background-position: -372px -8px;
  height: 24px;
  width: 168px;
  margin-right: 17px;
}
#navigation #nav-diplomacy101 a:hover, #navigation #nav-diplomacy101 a.here {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/navigation.png?1317230572');
  background-repeat: no-repeat;
  background-position: -372px -80px;
  height: 24px;
}
#navigation #nav-explorer a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/navigation.png?1317230572');
  background-repeat: no-repeat;
  background-position: -557px -8px;
  height: 24px;
  width: 124px;
}
#navigation #nav-explorer a:hover, #navigation #nav-explorer a.here {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/navigation.png?1317230572');
  background-repeat: no-repeat;
  background-position: -557px -80px;
  height: 24px;
}

#header-search-form {
  height: 34px;
  width: 224px;
  position: absolute;
  top: 12px;
  left: 768px;
}
#header-search-form #header-search-label {
  display: none;
}
#header-search-form #header-search-box {
  width: 200px;
  height: 24px;
  padding: 0 8px;
  padding-top: 8px;
  background-color: #dddddd;
  border: 1px solid #d6d6d5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: "DroidSansRegular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ababab;
  outline: none;
}
#header-search-form #header-search-btn {
  position: absolute;
  top: 0px;
  right: 12px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/sprites.png?1317230572');
  background-repeat: no-repeat;
  background-position: -16px -560px;
  text-transform: capitalize;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
}
#header-search-form #header-search-btn.active {
  background-position: -16px -2584px;
}



#global-header {
  position: relative;
  z-index: 70;
  background: #2eace3;
  width: 100%;
  height: 16px;
}
#global-header ul {
  font-family: "DroidSansBold", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  line-height: 12px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-left: 40px;
  padding-right: 40px;
  width: 944px;
  margin: 0 auto;
  padding-top: 2px;
}
#global-header ul a {
  color: white;
  text-decoration: none;
}
#global-header ul a:hover {
  color: #dddddd;
}
#global-header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 0;
  padding-right: 0;
}
#global-header ul li:first-child, #global-header ul li.first {
  padding-right: 0;
}
#global-header ul li:last-child {
  padding-left: 0;
}
#global-header ul li.last {
  padding-left: 0;
}
#global-header ul li.first:after {
  font-family: "DroidSansBold", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  content: "|";
}
#global-header ul li.first:after a {
  color: white;
  text-decoration: none;
}
#global-header ul li.first:after a:hover {
  color: #dddddd;
}



.leaflet-control-infobox-interior
{
    width: 150px;
    height: 40px;
    background-position: 50% 50%;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

#splash_buttons{
  margin:auto;
  width:250px;
}

.panel-body .btn-group{
  width:100%;
}

.panel-body .btn-group .btn{
  width:33%;
}
/*
.panel-body .btn-group .gear{
  width:20%;
  background: url('../img/gear.png') no-repeat center center;
  height:34px;
}
*/

.panel-body .btn-group .btnon{
  background-color:#2eace3;
  color:white;
}

.sideBarTabContent{
  display:none;
  overflow-y:auto;
  height:inherit;
  padding:5px;
}

#resultsblock{
  overflow-y: auto;
  height: inherit;
}

.currenttab{
  display:block;
}

#collapseSide{
  height:inherit;
}

.resultItem .panel-heading{
  margin-top:5px;
}



.closed {
  display:none;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #333;
}

#searchform submit{
  margin-top:5px;
}

.noSplashLink{
  font-size: 68%;
  cursor:pointer;
}


/*------------- Brown top Bottom----------*/ 
.MBT-readmore{ 
background-color:inherit;  
cursor:pointer; 
color:#2eace3; 
margin:5px 0; 
padding:5px; 
-moz-border-radius:6px; 
-webkit-border-radius:6px; 
font:bold 10px sans-serif; 
text-decoration:none; 
} 
.MBT-readmore:hover{ 
background-color:inherit; 
color:#2eace3; 
} 

.readmore-js-toggle, .readmore-js-section{
  width:inherit;
}

.fadetext{
  margin: 0; 
  padding: 10px 0; 
  color:black;
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(black, transparent),
             url('../img/bg_image.png') repeat;
 background: -o-linear-gradient(black, transparent);
 -webkit-background-clip: text;



}




.small-instructions{
color: rgb(172, 172, 172);
font-size: 75%;
}


path.leaflet-clickable{
  cursor:help;
}



@media (min-width: 768px){
.navbar-nav>li>a{
  padding-top:2px;
  padding-bottom:2px;
}
}


/*
.btn-default{
  background-color: rgb(25,95,164);
}
*/
@media (max-width: 767px){
  .navbar-nav>li>a{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  #descPane{
    width:100%;
    height:33%;
    min-height:250px;
    /*overflow-y:scroll;*/
    padding-right:0px;
    padding-left:0px;
  }
  #mapPane{
    margin-left:0;
    height:60%;
    width: 100%;
  }
  #mainContainer{

        margin-top:0px;
  }
  body{
    padding-top:0px;
  }
  #fb-root{
    display:none;
  }
  .shareInfoBox{
    display:none;

  }
  #header{
    display:none;
  }
  ul.navbar-nav{
    width: auto;
  }
  .navbar-collapse.in{
    overflow-y:auto;
  }
  #tourKeybutton{
    display:none;
  }

}

/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}

